<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <style>
    main > .container {
      padding: 60px 15px 0;
    }
  </style>
  <title>Bott Fight</title>
</head>
<body>

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Bott Fight</a>
    </div>
  </nav>
</header>

<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col text-center"><h1>{game.playerOne.name}</h1></div>
      <div class="col text-center"><h1>{game.playerTwo.name}</h1></div>
      <div class="w-100"></div>
      <div class="col text-center"><img src="https://avatars.dicebear.com/api/bottts/{game.playerOne.name}.svg?width=300"/></div>
      <div class="col text-center"><img src="https://avatars.dicebear.com/api/bottts/{game.playerTwo.name}.svg?width=300"/></div>
      <div class="w-100"></div>
    </div>
    <div class="row">
      <div class="col text-center">
        {#if game.isOver}
        <a class="btn btn-primary" href="http://localhost:8080/play" role="button">Start a new Game</a>
        {#else}
        <a class="btn btn-primary" href="http://localhost:8080/play/next" role="button">Play a Card</a>
        {/if}
      </div>
    </div>
    <div class="row">
      <div class="col" style="background-color: green">
        {#for card in game.table}
        <img src="{card.image}" height="100px"/>
        {/for}
      </div>
    </div>
  </div>
</main>
config:property('app.verbose') : {config:property('app.verbose')}
config:['app.verbose'] : {config:['app.verbose']}

{#if config:property('app.verbose') is 'true'}
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <p class="text-muted">Table: {game.table.size}</p>
    <p class="text-muted">Player one: {game.playerOne.name}
      {#for card in game.playerOne.hand}
        {card}
      {/for}
    </p>
    <p class="text-muted">Player two: {game.playerTwo.name}
      {#for card in game.playerTwo.hand}
        {card}
      {/for}
    </p>
    {#if game.isOver}
      <p class="text-muted">Winner: {game.winner.name ?: 'That is super rare, no winner'}</p>
    {/if}
  </div>
</footer>
{/if}

</body>
</html>
